block content
  h1 Recommended Tracks 🎧

  if tracks.length
    table
      each t in tracks
        tr
          td #{t.name}
          - var artist_name = (t.artists && t.artists.length > 0) ? t.artists[0].name : "Unknown Artist"
          td #{artist_name}
          td: a(href=t.preview_url || "#", target="_blank") Preview
  else
    p Sorry, no recommendations available right now.
